.hidden {
    display: none;
}

#main-header {
    margin: 0 auto;
    grid-column: 1/-1;
}

#upper-nav {
    grid-template-columns: 1/-1;
}

#hero-image {
    grid-column: 1/-1;
    grid-row: 1/1;
}

@media screen and (max-width:768px) {
    #nav {display: none;}
    #social-media-icons-top {display: none;}
}


